{% extends "base.html" %}

{% block title %}

Project -- Welcome

{% endblock %}



{% block content %}

	<div class = "main wrapper clearfix">
		<form method="POST" action="" >
			{{ form.hidden_tag() }}
			<p>Usage: </p>
			<ul>
           		<li>[RACK] - Letters in your scrabble rack </li>
				<li>[WORD FILTER] - ++do+e++ (+ = blank space & letters are taken from the board)</li>
			</ul>
			 </p>
			<p>       </p>
			<p></p>
			<table>
				<tr>
					<td>Rack Letters:  </td>
					<td>{{form.letters}}</td>
				</tr>
				<tr>
					<td>Word Fit:  </td>
					<td>{{form.filter}}</td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

{% endblock %}

{% block sidebar %}

			<div style="width:250px;height:300px;overflow-y:scroll;
			            border-top: 20px solid #0D3E5B;
						background: #326786;
						color: white;
						padding: 0px 5% 10px;">

            <table>
                <col width="130">
                <col width="80">
				<thead>
                	<tr>
                   		{% for column in columns %}
                   			<th align="left">{{ column }}</th>
                   		{% endfor %}
                	</tr>
				</thead>

				<tbody>
					{% for key, value in sorted_results.items() %}
                	<tr>
                   		<td>{{ key }}</td>
						<td>{{ value }}</td>
                	</tr>
				   {% endfor %}
				</tbody>

            </table>
			</div>

{% endblock %}

