{% extends "base.html" %}

{% block title %}

Project -- Welcome

{% endblock %}



{% block content %}

	<div class = "main wrapper clearfix">
		<form method="POST" action="" >
			{{ form.hidden_tag() }}
			<p>Usage: </p>
			<ul>
				<li>[REQUIRED LETTER] - Enter the single letter that is required in every word. </li>
				<li>[OTHER LETTERS] - Enter the other letters that can be used repeatedly to create a word.</li>
			</ul>
			 </p>
			<p>       </p>
			<p></p>
			<table>
				<tr>
					<td>Required Letter:  </td>
					<td>{{form.required}}</td>
				</tr>
				<tr>
					<td>Other Letters: </td>
					<td>{{form.other}}</td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</div>

{% endblock %}

{% block sidebar %}

			<div style="width:250px;height:300px;overflow-y:scroll;
			            border-top: 20px solid #0D3E5B;
						background: #326786;
						color: white;
						padding: 0px 5% 10px;">

            <table>
                <col width="130">
				<thead>
					<tr>
						{% for column2 in columns %}
                   			<th align="left">{{ column2 }}</th>
						{% endfor %}
					</tr>
				</thead>

				<tbody>
					{% for row2 in sorted_results %}
                	<tr>
                   		<td>{{ row2 }}</td>
                	</tr>
				   {% endfor %}
				</tbody>

            </table>
			</div>

{% endblock %}

